<% @article.comments.each do |comment| %>
  <% unless comment.archived? %>
  <p>
    <strong>Titulo:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comentário:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Deletar comentário", [comment.article, comment], data: {
        turbo_method: :delete,
        turbo_confirm: "Tem certeza?"
    } %>
  </p>
  <% end %>
<% end %>